export PROJ_HOME=`realpath .`
export PYTHONPATH="$PROJ_HOME/tools:$PYTHONPATH"

CONFIGS=""
CONFIGS+=" -DMEM_ADDR_WIDTH=34 -DPLATFORM_MEMORY_ADDR_WIDTH=34 -DPLATFORM_MEMORY_NUM_BANKS=32 -DPLATFORM_MERGED_MEMORY_INTERFACE"
CONFIGS+=" -DDCACHE_DISABLE -DL2_ENABLE -DNUM_CLUSTERS=1 -DNUM_CORES=1 -DNUM_THREADS=8"
CONFIGS+=" -DLMEM_LOG_SIZE=19"
CONFIGS+=" -DEXT_TCU_ENABLE"
CONFIGS+=" -DAFU_DONE_WAIT_CACHE_DRAIN"
export CONFIGS