[submodule "third_party/softfloat"]
	path = third_party/softfloat
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "third_party/ramulator"]
	path = third_party/ramulator
	url = https://github.com/CMU-SAFARI/ramulator2.git
[submodule "third_party/cvfpu"]
	path = third_party/cvfpu
	url = https://github.com/openhwgroup/cvfpu.git
[submodule "third_party/hardfloat"]
	path = third_party/hardfloat
	url = https://github.com/bsg-external/HardFloat.git
[submodule "third_party/axi"]
	path = third_party/axi
	url = git@github.com:jang1664/axi.git
[submodule "third_party/llm-analysis"]
	path = third_party/llm-analysis
	url = git@github.com:jang1664/llm-analysis.git
[submodule "third_party/component_database"]
	path = third_party/component_database
	url = git@github.com:jang1664/component_database.git
