Magic 271485
Revision Verdi_U-2023.03-SP2-9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 903 399 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/jaeyongjang/project.local/vortex/hw/unittest/gemm_node/reports/tb_VX_gemm_node.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1170261.461318 1817646.848138
cursor 1235000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 33

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "mmio_reg"
activeDirFile "" "/home/jaeyongjang/project.local/vortex/hw/unittest/gemm_node/reports/tb_VX_gemm_node.fsdb"
addSignal -h 15 /tb_VX_gemm_node/u_dut/VX_job_frontend_instance/u_job_desc_mmio_regs/clk
addSignal -h 15 -holdScope regs32_o[3:0]
addSignal -h 15 -holdScope generation_q[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope occupy_q[3:0]
addSignal -h 15 -holdScope owner_q[3:0]
addGroup "fsm"
addSignal -h 15 /tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/u_VX_gemm_fsm/clk
addSignal -h 15 -UNSIGNED -holdScope state_d[7:0]
addSignal -h 15 -UNSIGNED -holdScope state_q[7:0]
addSignal -h 15 -holdScope job_d
addGroup "gemm_dma_ctrl"
addSubGroup "dma_if-1"
addSignal -expanded -h 15 /tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl/dma_if/req_data
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.mask[3:0]
addSignal -h 15 -holdScope req_data.rw
addSignal -expanded -h 15 -holdScope req_data.addr[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.addr[3][44:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.addr[2][44:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.addr[1][44:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.addr[0][44:0]
addSignal -expanded -h 15 -holdScope req_data.data[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.data[3][63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.data[2][63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.data[1][63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_data.data[0][63:0]
addSignal -h 15 -holdScope req_data.byteen[3:0]
addSignal -h 15 -holdScope req_data.flags[3:0]
addSignal -h 15 -holdScope req_data.tag
addSignal -h 15 -holdScope req_ready
addSignal -h 15 -holdScope req_valid
addSignal -h 15 -holdScope rsp_data
addSignal -h 15 -holdScope rsp_ready
addSignal -h 15 -holdScope rsp_valid
endSubGroup "dma_if-1"
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/jaeyongjang/project.local/vortex/hw/unittest/gemm_node/reports/tb_VX_gemm_node.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/VX_gpu_pkg"
"/tb_VX_gemm_node"
"/tb_VX_gemm_node/u_dut"
"/tb_VX_gemm_node/u_dut/VX_job_frontend_instance"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl"

SCOPE_LIST_BEGIN
"/VX_gpu_pkg"
"/tb_VX_gemm_node/u_dut/VX_job_frontend_instance"
"/tb_VX_gemm_node/u_dut/VX_job_frontend_instance/u_job_desc_mmio_regs"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/gemm_fsm_if"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/u_VX_gemm_fsm"
"/tb_VX_gemm_node"
"/tb_VX_gemm_node/u_dut"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl/dma_if"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


