Magic 271485
Revision Verdi_U-2023.03-SP2-9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 903 399 146

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/jaeyongjang/project.local/vortex/hw/unittest/gemm_node/reports/tb_VX_gemm_node.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 101000000.000000
cursor 20945000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 95

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "mmio_reg"
activeDirFile "" "/home/jaeyongjang/project.local/vortex/hw/unittest/gemm_node/reports/tb_VX_gemm_node.fsdb"
addSignal -h 15 /tb_VX_gemm_node/u_dut/VX_job_frontend_instance/u_job_desc_mmio_regs/clk
addSignal -h 15 -holdScope regs32_o[3:0]
addSignal -h 15 -holdScope generation_q[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope occupy_q[3:0]
addSignal -h 15 -holdScope owner_q[3:0]
addGroup "fsm"
addSignal -h 15 /tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/u_VX_gemm_fsm/clk
addSignal -h 15 -UNSIGNED -holdScope state_d[7:0]
addSignal -h 15 -UNSIGNED -holdScope state_q[7:0]
addSignal -h 15 -holdScope job_d
addGroup "gemm_dma_ctrl" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl/K_tot_d[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope K_tot_q[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope LSU_ADDR_SHIFT[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope MT[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope M_tot_d[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope M_tot_q[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope NT[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope N_tot_d[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope N_tot_q[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope OP_DMA_LD[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope OP_DMA_ST[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope OP_NOTIFY[7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope POLL_GAP_CYCLES[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope REGS_PER_LANE[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope alloc_gap_d[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope alloc_gap_q[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope alloc_gen_d[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope alloc_gen_q[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope alloc_owner_d[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope alloc_owner_q[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bnd0[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bnd1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bnd2[31:0]
addSignal -h 15 -holdScope clk
addSignal -h 15 -UNSIGNED -HEX -holdScope cmd_op[7:0]
addSignal -h 15 -holdScope cmd_q
addSignal -h 15 -holdScope dir_is_st
addSignal -h 15 -UNSIGNED -HEX -holdScope dram_b0[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dram_b1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dram_b2[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dram_s0[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dram_s1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dram_s2[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dst_base[63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dst_s0[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dst_s1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dst_s2[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope entry_id_d[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope entry_id_q[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope groups_eff[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope kt_eff[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope kt_idx[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope lmem_s0[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope lmem_s1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope lmem_s2[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mt_eff[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mt_idx[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope notify_rid[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope notify_value[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope nt_eff[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope nt_idx[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope padding[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope poll_gap_d[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope poll_gap_q[31:0]
addSignal -h 15 -holdScope reset
addSignal -h 15 -UNSIGNED -HEX -holdScope seg_size[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope src_base[63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope src_s0[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope src_s1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope src_s2[31:0]
addSignal -h 15 -UNSIGNED -holdScope state_d[4:0]
addSignal -h 15 -UNSIGNED -holdScope state_q[4:0]
addSignal -h 15 -UNSIGNED -holdScope tensor_sel[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope wr_idx_d[31:0]
addSubGroup "dma_if-1"
addSignal -h 15 /tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl/dma_if/req_data
addSignal -h 15 -holdScope req_ready
addSignal -h 15 -holdScope req_valid
addSignal -expanded -h 15 -holdScope rsp_data
addSignal -h 15 -UNSIGNED -HEX -holdScope rsp_data.mask[3:0]
addSignal -expanded -h 15 -holdScope rsp_data.data[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rsp_data.data[3][63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rsp_data.data[2][63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rsp_data.data[1][63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rsp_data.data[0][63:0]
addSignal -h 15 -holdScope rsp_data.tag
addSignal -h 15 -holdScope rsp_ready
addSignal -h 15 -holdScope rsp_valid
endSubGroup "dma_if-1"
addGroup "gemm_ctrl"
addSignal -h 15 /tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/clk
addSubGroup "done_if"
addSignal -h 15 /tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/done_if/valid
addSignal -h 15 -UNSIGNED -HEX -holdScope entry_id[31:0]
addSignal -h 15 -holdScope ready
endSubGroup "done_if"
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/jaeyongjang/project.local/vortex/hw/unittest/gemm_node/reports/tb_VX_gemm_node.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/VX_gpu_pkg"
"/tb_VX_gemm_node"
"/tb_VX_gemm_node/u_dut"
"/tb_VX_gemm_node/u_dut/VX_job_frontend_instance"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/done_if"

SCOPE_LIST_BEGIN
"/VX_gpu_pkg"
"/tb_VX_gemm_node/u_dut/VX_job_frontend_instance"
"/tb_VX_gemm_node/u_dut/VX_job_frontend_instance/u_job_desc_mmio_regs"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/gemm_fsm_if"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/u_VX_gemm_fsm"
"/tb_VX_gemm_node"
"/tb_VX_gemm_node/u_dut"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_dma_ctrl/dma_if"
"/tb_VX_gemm_node/u_dut/u_VX_gemm_ctrl/done_if"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


